@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-warm-white text-primary-text;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
